  <div class="contianer-fluid" style="height: 5rem"></div>


<div class="card mx-auto mt-5 show-landmark-card">
    <div class="card-body">
        <a href="/tour/new" a class="btn btn-success btn-block mb-4" href="#" role="button">Create A New Tour</a>

        <ul class="list-group">
            {{#each tours}}
            <li class="list-group-item">
                <a href="tour/{{id}}">
                    <h5 class="card-title">{{title}}</h1>
                </a>
            </li>
            {{/each}}


        </ul>



    </div>
</div>