<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="accordion" id="accordionExample">
        <ul class="list-group">
          {{#each landmarks}}
          <li class="list-group-item">
            <a href="landmark/{{id}}">{{title}}</a></li>
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="col-8 bg-success">
      map
    </div>
  </div>

</div>