<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Pacifico" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>My DC Tour</title>
</head>

<body class="h-100"
    background="https://images.unsplash.com/photo-1460644212565-a64ce7c7094c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80">

    <nav class="navigation-bar navbar-light bg-info justify-content-between">
        <a href="/application"><span class="navbar-brand mb-0 h1 text-white">
                <h5 class="mx-0 text-white" style="font-family: 'Pacifico', cursive;">My DC Tour</h5>
            </span></a> </a>
        <div class="row">
            <a href="/landmark/new" class="mx-3"><i class="fas fa-landmark"></i></a>

            <a href="/tour">
                <i class="fas fa-user-circle mx-3"></i>

            </a>

        </div>

    </nav>

    <div class="h-100">
        {{{body}}}
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>



    <script src="../js/script.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjI8PAs0xkm6N6qP-PT743u81owQ1UbB0&callback=initMap" async
        defer></script>
</body>

</html>