<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Landmark Name</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">Neigborhood</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">Street</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">City</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
  </div>

    <div class="form-group">
    <label for="exampleFormControlInput1">State</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="D.C.">
  </div>

    <div class="form-group">
    <label for="exampleFormControlTextarea1">Description</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>

  <button type="button" class="btn btn-lg btn-primary btn-block" style="width: 200px;">Submit Landmark</button>

  </form>