<div class="panel panel-default">
  <div class="panel-heading">{{landmark.title}}</div>
  <div class="panel-body">
      <p>{{landmark.neighborhood}}</p>
      <p>{{landmark.description}}</p>

  </div>
</div>