<div class="card mx-auto mt-5" style="width: 25rem;">
  <div class="card-body">
    <h5 class="card-title">{{landmark.title}}</h5>
    <p class="card-text">{{landmark.description}}</p>
    <a href="/application" class="btn btn-primary">Back</a>
  </div>
</div>