    <div class="contianer-fluid" style="height: 5rem"></div>

<div class="card mx-auto show-landmark-card mt-5">

  <div class="card-body mt-5">
    <h1 class="card-title">{{landmark.title}}</h1>
    <p class="card-text">{{landmark.description}}</p>
    {{!-- <a href="/application" class="btn btn-primary">Back</a> --}}
    <a href="{{landmark.id}}/edit" class="btn btn-primary">Edit</a>


    <form action="/landmark/{{landmark.id}}?_method=DELETE" method="post" class="d-inline">
      <input type="submit" value="Delete" class="btn btn-danger">
    </form>


  </div>
</div>